<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>二维码缓存刷新</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="cacheId"/>
<ul>
    #foreach( $it in $cacheList)
    ${velocityCount} <input type="checkbox" name="cacheCheckVal" value="${it}"> ${it}<br>
    #end
    <input type="submit" value="刷新" onclick="refresh();" style="margin-top: 10px;">
</ul>

<script src="https://qrcodep.westlakevr.cn/static/js/jquery.min.js"></script>
<script type="text/javascript">
    function refresh() {
        var checkedNum = $("[name='cacheCheckVal']:checkbox:checked").length;
        if (checkedNum >= 1 || (checkedNum <= 0)) {
            var ids = '';
            $("[name='cacheCheckVal']:checkbox:checked").each(function () {
                ids += $(this).val() + ",";
            });

            $.ajax({
                url: '/cache/refresh',
                timeout: 80000,
                data: {ids: ids},
                dataType: 'json',
                async: false,//同步
                success: function (data) {
                    if (data.retCode == 0) {
                        alert("刷新成功!");
                    }
                    if (data.retCode == 1) {
                        alert("刷新失败");
                    }
                }
            });
        } else {
            alert("请选择需要刷新的缓存")
            return false;
        }
    }
</script>
</body>
</html>
